.res-container{
    margin: 1%;
    /* margin: 2%  8%; */
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    /* width: 100%; */
    box-shadow: 0px 2px 4px rgba(0, 0,0, 0.1);
    border: 1px none #0000001a;
    border-radius: 15px;
    
}
.link-card-styling{
    text-decoration: none;
    color: gray;
}


.res-card{
    margin: 1%;
    width: 250px;
    height: 350px;
    /* box-shadow: 0px 2px 4px rgba(0, 0,0, 0.1);  */
    border: 1px none rgba(0,0,0,0.1);
    border-radius: 5%;
}
.res-card:hover{
     box-shadow: 0px 2px 4px rgba(0, 0,0, 0.1); 
     cursor: pointer;
}

.res-img{
    padding: 3%;
    width: 100%;
    height: 60%;
    border-radius: 25px;
}
.details-styling{
    margin: 1% 5%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: larger;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.font-sty{
    color: grey;
    font-size: medium;
}
.cuisine-sty{
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.rating-delivery{
    display: flex;
    gap: 5%;
}
.delivery::before{
    content:"• ";   
}