.filter{
    margin: 1%;
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.1);
    border-bottom: 1px none rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 3%;
    overflow: hidden;
    border-radius: 15px;
}
.filter-img-styling{
    height: 200px;
}