.search-box-styling {
  position: absolute;
  top: 30px;
  right: 30%;
  width: 20%;
}

.search-input-styling {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
  width: 100%;
}
